/*
!.zshrc
!.config
.config/*
!.config/fzf
!.config/p10k
!.config/yazi
!.config/neofetch
!.config/scripts
!.config/lazygit/
!.config/ghostty
!.config/nvim
.config/lazygit/state.yml
!install.sh
!.gitignore
!.gitconfig
!.pip
!Backup
!.gitmodules
!/background
!.npmrc
!.cargo/
!README.md
!/.local/
!/.config/fcitx5
!/.config/fuzzel
!/.config/DankMaterialShell
!/.config/niri
!/update.sh
